<h2>Conatct Us</h2>

Business Units
The ABC Group consists of several different Business Units. Depending on the services you're interested in, you can visit the website of the appropriate Business Unit below:
<br> <br>
Current Businesses:
Ringo - www.ringo.co
<br> <br>
Flock - www.flock.com

Zeta - www.zeta.in

Radix - www.radix.website

Codechef - www.codechef.com

Exited:
LogicBoxes - www.logicboxes.com

ResellerClub - www.resellerclub.com

WebHosting.Info - www.webhosting.info

BigRock - www.bigrock.com

Press
For Directi related queries about press and media, to discuss any interviews, or if you require company information for any media publication, you can get in touch with us at:

Email: pr@directi.com

India
Tel: +91 (22) 6196 6300
Fax: +91 (22) 3079 7508

USA
Tel: +1 (415) 240 4171/2 Ext. 7783
Fax: +1 (320) 210 5146

Offices
USA
New York

1460 Broadway New York NY 10036
UAE
Ras Al Khaimah

F/19, Business Centre 1
RAK Economic Zone (Previously known as RAK Free Trade Zone)
Ras Al Khaimah
United Arab Emirates
P O Box 16113
India
Mumbai

Directiplex,
Old Nagardas Road,
Andheri (East),
Mumbai - 400069
Tel No: 91-22-61966300
 Delhi

UM House, IInd Floor
Plot No. 35, Sector - 44
Gurgaon - 122002
Haryana
Tel: 91-124 –4113280/82
 Bengaluru

Directi Internet Solutions Pvt Ltd.,
Ground Floor, Tower C,
Diamond district,
BOld Airport Rd, Domlur,
Bengaluru
Karnataka - 560008
Phone: 022 6112 3989