<p>About Us</p>

2015
April

Launched Zeta, a mobile app to revolutionise compensation and benefits
<br> <br>
2014
September

Launched Flock, the smart enterprise communication app
<br> <br>
May

Introduced Ringo, a low cost international and domestic calling app
<br> <br>
January

Sold 4 business units (BigRock, Logicboxes, Webhosting.info, ResellerClub) to Endurance International Group
<br> <br>
2012
March

Introduced Radix, Asia’s leading registry for top-level extensions
<br> <br>
2011
November

LogicBoxes crosses the 6 million domains mark
<br> <br>
November

LogicBoxes launches .XXX on its platform
<br> <br>
September

LogicBoxes launches .AU
<br> <br>
August

LogicBoxes partners with WHMCS
<br> <br>
March

LogicBoxes powers 5 million domains on its platform
<br> <br>
February

LogicBoxes launches SiteBuilder & SiteDesign services
<br> <br>
2010
November

LogicBoxes partners with HostGator
<br> <br>
November

LogicBoxes launches .CA on its Platform
<br> <br>
June

LogicBoxes & Skenzo organize the Brussels Beer Fest
<br> <br>
March

LogicBoxes partners with .CO Internet
<br> <br>
2009
September

ABC hosts National Case Study Competition 2009 which attracts 1400+ students from the top B-Schools across India.
<br> <br>
September

CodeChef comes out of Beta and is launched with new features and 15,000+ registered programmers.
<br> <br>
September

LogicBoxes launches Accreditation.com.
<br> <br>
August

ResellerClub launches .CN - the second largest TLD ever.
<br> <br>
July

LogicBoxes and ResellerClub launch Unlimited Web and Email Hosting Solutions.
<br> <br>
June

Directi moves to its new headquarters in Mumbai - "Directiplex".
<br> <br>
April

LogicBoxes and ResellerClub launch FREE DNS, Mail and Domain Forwarding for all Partners and Resellers.
<br> <br>
February

ResellerClub launches .TEL March 3rd, 2008: ResellerClub Launches .ASIA.
<br> <br>
January

LogicBoxes surpasses the 4 million domains mark.
<br> <br>
January

Directi launches CodeChef in Beta version - India's first, non-commercial, multi-platform online programming competition; followed by the launch of DesignChef.
<br> <br>
2008
December

For the fourth consecutive year, Directi features in the Technology Fast 500 Asia Pacific list by Deloitte.
<br> <br>
December

LogicBoxes announces Domainer Accreditation Program.
<br> <br>
September

ResellerClub - Directi Group's wholesale arm crosses the 2 million domain names mark and continues to be the 10th largest domain registrar worldwide.
<br> <br>
January

Co-Founder, Divyank Turakhia, is featured as one of India's "New Business Leaders" by Financial Express.
<br> <br>
January

Skenzo is ranked as the #1 Fastest growing domain parking company worldwide for 2007 by Revenue and Headcount.
<br> <br>
2007
November

For the third consecutive year, Directi is ranked amongst the Technology Fast 50 list by Deloitte and Touche.

August

Skenzo is featured in the List of Asia's Top 200 Private Companies by Red Herring.

April

Directi opens an office in China.

January

Skenzo is ranked as the #1 Fastest growing domain parking company worldwide for 2006 by Revenue.

2006
November

For the second consecutive year, Directi is ranked among the Technology Top 50 India and Technology Top 500 Asia-Pacific fastest growing technology companies by Deloitte and Touche.

October

ResellerClub - Directi Group's wholesale arm is the second fastest growing domain registrar in the world for the month.

August

Divyank Turakhia is featured in the list of Asia's Top Young Enterepreneurs by BusinessWeek Magazine.

August

Directi is awarded the IT Day Award in the special achievement category.

August

Within seven months of its launch, ResellerClub - Directi Group's wholesale arm crosses the 1 million domain names mark becoming the 13th largest domain registrar worldwide.

July

Divyank and Bhavin Turakhia are featured as one of the country's Top Young Entrepreneurs in an exclusive interview on CNBC.

February

Directi Group purchases a new office facility to house 2500 employees, and appoints Hafeez Contractor for designing the same.

February

Directi Group launches its wholesale arm - ResellerClub that provides turnkey business process automation and end to end Web Services to its 25,000+ strong channel partner network.

2005
December

Skenzo, the new startup business unit, announces that it shall now be run under the direct leadership of Divyank Turakhia. Turakhia plans to grow the startup into a full-fledged business.

December

DirectI Group is ranked 147th fastest growing technology company among the top 500 fastest growing technology companies according to Deloitte Technology Fast 500 Asia Pacific Program.

November

Directi Group is ranked 10th fastest growing technology company among the top 50 fastest growing technology companies according to Deloitte Technology Fast 50 India Program.

October

Directi Group surpasses the 500,000 customers' benchmark.

October

Directi Group hives off its Domain Registrar into a new Business Unit - Public Domain Registry - an exclusive white-labeled Domain Registrar.

September

Bhavin Turakhia wins the Bharti Entrepreneur of the Year Award instituted by the Entrepreneurship Development Institute of India.

January

Domain Registrar Business becomes one of the first 4 official .in Registrars.

2004
December

Directi Group's Domain Registrar Business Ranks 15th in the list of Fastest Growing Registrars Worldwide.

June

Directi Group crosses 200,000 Customers worldwide.

2003
December

Directi Group Launches LogicBoxes, its software and consulting arm which powers Registrars worldwide.

December

Directi Group Crosses the 100,000 Customers milestone.

September

Launches WebHosting.Info, the leading online news and statistics portal covering the Web Hosting industry.

2002
April

Jumps 13 ranks to become the 63rd largest Registrar worldwide.

January

Jumps 12 ranks to become the fastest growing Registrar in Asia and the 76th largest Registrar worldwide.

2001
May

Directi becomes the first and ONLY Company in India to get an ICANN Accreditation.