<div align="right">
    <a routerLink="/home">HOME</a> |
    <a routerLink="/about">ABOUT US</a> |
    <a routerLink="/services">SERVICES</a> |
    <a routerLink="/login">LOGIN</a> |
    <a routerLink="/contact">CONTACT US</a>
</div>
<h1>ABC Consulting </h1>
<h3>Technology Consulting | IT Services | Digital Transformation</h3>
<hr>

<!-- router-outlet is place where we want the object to be displayed -->
<router-outlet></router-outlet>

<hr>
<h3>Proudly powered by ABC Technology</h3>
<h4>www.google.com</h4>
<!-- in the page it will not show twice. -->
<!-- <router-outlet></router-outlet> -->